/**
 * Bootstrap configuration
 */
$enable-caret:       true;
$enable-rounded:     false;
$enable-shadows:     false;
$enable-gradients:   false;
$enable-transitions: false;


/**
 * Application configuration
 */
$theme-colors: (
  "header-bg": #eaeaea,
  "header-fg": #FEFEFE,
  "navigation-bg": #222D32,
  "navigation-fg": #FEFEFE,
  "navigation-hl": #DD4B39,
);

$header-height: 50px;
$navigation-width: 300px;

$primary: #a3a3a3;