<div class="btn-group" placement="bottom-right"
     ngbDropdown
     [attr.aria-label]="'Language selector' | translate">

    <button type="button" class="btn btn-default dropdown-toggle"
            ngbDropdownToggle>

        <i class="fa fa-language" aria-hidden="true" title="{{ 'Language' | translate }}"></i>

    </button>

    <ul class="dropdown-menu" role="menu"
        ngbDropdownMenu>
        <li role="menuitem"
            (click)="setLanguage(language)"
            [class]="getLanguage() === language ? 'active' : ''"
            *ngFor="let language of getLanguages()">
            <button class="dropdown-item">
                {{ language.getLanguageName() | translate }}
            </button>
        </li>
    </ul>

</div>
