<div class="form-group" [ngClass]="{'form-label-float': floatingPlaceholder}">
    <textarea
            #inputField="ngModel"
            class="form-control"
            [ngModel]="value"
            (ngModelChange)="triggerOnChange($event)"
            (blur)="triggerOnTouched()"
            [id]="id"
            [title]="title"
            [placeholder]="placeholder"
            [readonly]="readonly"
    ></textarea>
    <label *ngIf="floatingPlaceholder">{{ placeholder }}</label>

    <anx-forms-input-error
            *ngIf="displayErrors()"
            [errors]="errors"
            [errorMessages]="errorMessages"
    ></anx-forms-input-error>
</div>