version: '2'
services:
  # Node configuration
  node:
    build:
      context: ./docker/node
    environment:
      NODE_RUN_USER: user
      NODE_RUN_GROUP: user
    volumes:
      - ./:/app
    command: ng serve --host 0.0.0.0
    dns: 8.8.8.8
    ports:
      - "8080:4200"
      - "9876:9876"
      - "9001:9001"
