<div [formGroup]="inputForm">
    <div *ngFor="let weightingType of weightingTypes">
        <span>{{ weightingType.label }}</span>
        <anx-forms-input-select
            [bindLabel]="bindLabel"
            [bindValue]="bindValue"
            [options]="answerOptions[weightingType.key]"
            [multiple]="true"
            [closeOnSelect]="false"
            [placeholder]="placeholder"
            [formControlName]="weightingType.key"
            [readonly]="readonly"
        ></anx-forms-input-select>
    </div>
    <anx-forms-input-error
        *ngIf="displayErrors()"
        [errors]="errors"
        [errorMessages]="errorMessages"
    ></anx-forms-input-error>
</div>
