/**
 * Configuration imports
 */
@import "variables";

/**
 * Vendor imports
 */
@import "~bootstrap/scss/bootstrap";
@import "~@swimlane/ngx-datatable/release/index";
//@import "~@swimlane/ngx-datatable/release/assets/icons";
@import "~ngx-anx-forms/lib/styles/ngx-anx-forms.styles";
//@import "~ngx-anx-forms/lib/styles/themes/borderless";
@import '~ngx-toastr/toastr-bs4-alert';

/**
 * Datatable local theme
 */
@import "datatable";

/**
 * Application styles
 */
body {
  font-size: 85%;
}



