@import '../../../styles/variables';

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


:host {
  display: block;
  padding: $grid-gutter-width / 2;
}