<form name="form" (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
    <h2>{{ 'Authentication' | translate }}</h2>
    <hr>

    <anx-forms-icon-input
            id="username"
            name="username"
            formControlName="username"
            [errors]="loginForm.get('username').errors"
            placeholder="{{ 'Username' | translate }}"
    >
        <fa-icon [icon]="['fas', 'user']"></fa-icon>
    </anx-forms-icon-input>

    <anx-forms-icon-input
            id="password"
            name="password"
            type="password"
            formControlName="password"
            [errors]="loginForm.get('password').errors"
            placeholder="{{ 'Password' | translate }}"
    >
        <fa-icon [icon]="['fas', 'lock']"></fa-icon>
    </anx-forms-icon-input>

    <div class="form-group">
        <app-button type="submit" [disabled]="!loginForm.valid" role="primary">
            <fa-icon *ngIf="loading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
            {{ 'Login' | translate }}
        </app-button>
        <a uiSref="auth.register" class="btn btn-link">{{ 'Register' | translate }}</a>
    </div>
</form>
