@import 'styles/variables';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


:host {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  & > app-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    overflow: visible;
    z-index: 300;
  }

  & > app-content {
    display: block;
    margin-top: 80px;
  }
}