<form name="form" (ngSubmit)="register()" [formGroup]="registerForm" novalidate>
    <h2>{{ 'Register' | translate }}</h2>
    <hr>

    <span for="firstName">{{ 'First Name' | translate }}</span>
    <anx-forms-input
            formControlName="first_name"
            [errors]="registerForm.get('first_name').errors"
    ></anx-forms-input>

    <span>{{ 'Last Name' | translate }}</span>
    <anx-forms-input
            formControlName="last_name"
            [errors]="registerForm.get('last_name').errors"
    ></anx-forms-input>

    <span>{{ 'Username' | translate }}</span>
    <anx-forms-input
            formControlName="username"
            [errors]="registerForm.get('username').errors"
    ></anx-forms-input>

    <span>{{ 'Password' | translate }}</span>
    <anx-forms-input
            formControlName="password"
            [errors]="registerForm.get('password').errors"
    ></anx-forms-input>

    <anx-forms-input-checkbox
            formControlName="superuser"
            [errors]="registerForm.get('superuser').errors"
            [label]="'Is Superuser?' | translate"
    ></anx-forms-input-checkbox>

    <div class="form-group">
        <app-button type="submit" [disabled]="!registerForm.valid" role="primary">
            <fa-icon *ngIf="loading" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
            {{ 'Register' | translate }}
        </app-button>
        <a uiSref="auth.login" class="btn btn-link">{{ 'Login' | translate }}</a>
    </div>
</form>