<div class="btn-group" placement="bottom-right"
     ngbDropdown
     [attr.aria-label]="'Language selector' ">

    <button type="button" class="btn btn-default dropdown-toggle"
            ngbDropdownToggle>
        <fa-icon [icon]="['fas', 'language']" title="{{ 'Language' | translate }}"></fa-icon>
    </button>

    <ul class="dropdown-menu" role="menu"
        ngbDropdownMenu>
        <li role="menuitem"
            (click)="setLanguage(language)"
            [class]="getLanguage() === language ? 'active' : ''"
            *ngFor="let language of getLanguages()">
            <button class="dropdown-item">
                {{ language.getLanguageName()  }}
            </button>
        </li>
    </ul>
</div>
