:host {
  .wrapper {
    position: relative;
  }

  i.fa {
    position: absolute;
    top: 12px;
    left: 10px;
    color: #6c757d;
  }

  app-input {
    ::ng-deep input {
      padding-left: 30px;
    }
  }
}