<div class="brand">
    <h1>
        <fa-icon [icon]="['fas', 'bars']" [fixedWidth]="true"></fa-icon>
    </h1>
</div>

<div class="navigation">
    <nav class="nav flex-column">
        <div class="nav-divider">
            {{ 'Pages' | translate }}
        </div>
        <a class="nav-link"
            uiSref="backend.home" uiSrefActive="active">
             <fa-icon [icon]="['fas', 'home']" [fixedWidth]="true"></fa-icon>
             {{ 'Home' | translate }}
        </a>
        <a class="nav-link"
           uiSref="backend.posts" uiSrefActive="active">
            <fa-icon [icon]="['fas', 'table']" [fixedWidth]="true"></fa-icon>
            {{ 'Posts' | translate }}
        </a>

        <div class="nav-divider">
            {{ 'Authentication' | translate }}
        </div>
        <a class="nav-link"
           uiSref="backend.users" uiSrefActive="active">
            <fa-icon [icon]="['fas', 'users']" [fixedWidth]="true"></fa-icon>
            {{ 'Users' | translate }}
        </a>
    </nav>
</div>