@import '../../styles/variables';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.modal-title {
  color: $primary;
}

.modal-header, .modal-footer {
  border: none;
}