<div class="brand">
    <h1>
        <i class="fa fa-bars"></i>
    </h1>
</div>

<div class="navigation">
    <nav class="nav flex-column">
        <div class="nav-divider">
            {{ 'Pages' | translate }}
        </div>
        <a class="nav-link"
            uiSref="backend.home" uiSrefActive="active">
             <i class="fa fa-home" aria-hidden="true"></i>
             {{ 'Home' | translate }}
        </a>
        <div class="nav-divider">
            {{ 'UI elements' | translate }}
        </div>
        <a class="nav-link"
           uiSref="backend.widgets" uiSrefActive="active">
            <i class="fa fa-window-maximize" aria-hidden="true"></i>
            {{ 'Widgets' | translate }}
        </a>
        <a class="nav-link"
           uiSref="backend.tables" uiSrefActive="active">
            <i class="fa fa-table" aria-hidden="true"></i>
            {{ 'Tables' | translate }}
        </a>

        <div class="nav-divider">
            {{ 'Authentication' | translate }}
        </div>
        <a class="nav-link"
           uiSref="backend.users" uiSrefActive="active">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            {{ 'User' | translate }}
        </a>
        <a class="nav-link"
           uiSref="backend.permissions" uiSrefActive="active">
            <i class="fa fa-lock" aria-hidden="true"></i>
            {{ 'Permission' | translate }}
        </a>
    </nav>
</div>