@import '../../styles/variables';

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


:host {
  display: block;
  background-color: theme-color-level("header-bg", 0);
  color: theme-color-level("header-fg", 0);
  padding-right: ($grid-gutter-width / 2);
  padding-left: ($grid-gutter-width / 2);

  app-language {
    position: absolute;
    top: 50%;
    right: ($grid-gutter-width / 2);
    transform: translateY(-50%);
  }
}