:host {
  .wrapper {
    position: relative;
  }

  div.icon {
    position: absolute;
    top: 8px;
    left: 10px;
    color: #6c757d;
    z-index: 100;
  }

  anx-forms-input {
    ::ng-deep {
      input {
        padding-left: 2.5rem;
      }

      .form-label-float label {
        padding-left: 2.5rem;
      }

      .form-label-float input:not(:placeholder-shown) ~ label {
        padding-left: 0.25rem;
      }
    }
  }
}
