<div class="wrapper">
    <div class="icon">
        <ng-content></ng-content>
    </div>
    <anx-forms-input
            [ngModel]="value"
            (ngModelChange)="triggerOnChange($event)"
            (blur)="triggerOnTouched()"
            [id]="id"
            [name]="name"
            [errors]="errors"
            [title]="title"
            [placeholder]="placeholder"
            [type]="type"
            [readonly]="readonly"
            [errorMessages]="errorMessages"
            [floatingPlaceholder]="floatingPlaceholder"
    ></anx-forms-input>
</div>