:host {
  .wrapper {
    position: relative;
  }

  div.icon {
    position: absolute;
    top: 9px;
    left: 10px;
    color: #6c757d;
  }

  anx-forms-input {
    ::ng-deep {
      input {
        padding-left: 30px;
      }
    }
  }
}